<a href="https://colab.research.google.com/github/rlfwo93/python_basic/blob/main/10week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1

a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 2 

b = list(range(10,0,-1))
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
# 3

c = list(range(5, 12))
c

[5, 6, 7, 8, 9, 10, 11]

In [7]:
# 4
a = [38, 21, 53, 62, 19]

print("a[0] = {0}".format(a[0]))
print("a[2] = {0}".format(a[2]))
print("a[4] = {0}".format(a[4]))

a[0] = 38
a[2] = 53
a[4] = 19

In [10]:
# 5

a = [0, 0, 0, 0, 0]

a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19


a

[38, 21, 53, 62, 19]

In [24]:
# 6

a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90] 

print("a[0:4] = {0}".format(a[0:4]))
print("a[0:10] = {0}".format(a[0:10]))
print("a[:7] = {0}".format(a[:7] ))
print("a[7:] = {0}".format(a[7:] ))
print("a[:]  = {0}".format(a[:]))
print("a[1:1]  = {0}".format(a[1:1]))
print("a[4:7]  = {0}".format(a[4:7]))
print("a[4:-1],  = {0}".format(a[4:-1],))
print("a[0:len(a)] = {0}".format(a[0:len(a)]))
print("a[:len(a)] = {0}".format(a[:len(a)]))

a[0:4] = [0, 10, 20, 30]
a[0:10] = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:7] = [0, 10, 20, 30, 40, 50, 60]
a[7:] = [70, 80, 90]
a[:]  = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[1:1]  = []
a[4:7]  = [40, 50, 60]
a[4:-1],  = [40, 50, 60, 70, 80]
a[0:len(a)] = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[:len(a)] = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [44]:
# 7

# pop, del , remove, index count reverse() len, sort , sorted clear()

a = [0,10,20,30,40,50,60,70,80,90,20,30,20]

print(a.pop())
del a[0:2]
print(a)

print(a.index(30))
print(a.count(20))
a.reverse()
print(a)
print(len(a))
a.sort()
a
a.clear()
a

20
[20, 30, 40, 50, 60, 70, 80, 90, 20, 30]
1
2
[30, 20, 90, 80, 70, 60, 50, 40, 30, 20]
10

[]

In [47]:
# 8 
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b =[]
for i in a:
  if i !=0 and i % 3 == 0 :
    b.append(i)
b

[3, 6, 9]

In [49]:
# 9 
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = []

for i in a:
  if i!=0 and i%2==0:
    b.append(i)

print(b)

[2, 4, 6, 8]

In [50]:
# 10

a = []

for i in range(1,51):
  if i%7==0:
    a.append(i)
print(a)

[7, 14, 21, 28, 35, 42, 49]

#  11) 각 칸에 알맞은 답을 입력하세요.[각 5점] 

a=[38,21,53,62,19] 

for i in a: 

    print(i)


i=38 
 print(   38        )= 

i=21 

  print(      21       )= 

i=53 

  print(        53     )= 

i=62 

  print(        62     )= 

i=19 

  print(       19      )=

 

a=[38,21,53,62,19] 

for i in range(len(a)): 

    print(a[i])


i=0 

  print(    38        )= 

i=1 

  print(   21         )= 

i=2 

  print(     53       )= 

i=3 

  print(   62         )= 

i=4 

  print(    19        )=

In [51]:
# 11

a= [0,1,2,3,4,5]

for i in a :
  print(i)

0
1
2
3
4
5

In [63]:
# 12

a= [0,1,2,3,4,5]
count = 0

while count < len(a):
  print(a[count])
  count+=1

0
1
2
3
4
5