<a href="https://colab.research.google.com/github/rlfwo93/python_basic/blob/main/11weeks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1

a=[38,21,53,62,19] 

for i in a: 

    print(i)

38
21
53
62
19

In [2]:
#2

for i in range(len(a)): 

    print(a[i])

38
21
53
62
19

In [3]:
# 3

a=[] 

val=0 

for i in range(0,5): 

    a.append(val) 

    val=val+2 

    print(a)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [5]:
# 4

a=[] 

val=0 

for i in range(0,5): 

    a.append(val) 

    val=val+2 

print(a)

[0, 2, 4, 6, 8]

In [7]:
# 5

a=[]; b=[] 

val=0 

for i in range(0,5): 

   a.append(val) 

   val=val+2 

print(a) 

for i in range(0,5): 

   b.append(a[4-i]) 

   print(b)

[0, 2, 4, 6, 8]
[8]
[8, 6]
[8, 6, 4]
[8, 6, 4, 2]
[8, 6, 4, 2, 0]

In [9]:
# 6 

a=[[10,20],[30,40],[50,60]] 

for i in a: 

    for j in i: 

        print(j,end=',') 

print()

10,20,30,40,50,60,

In [11]:
# 7

a=[[10,20],[30,40],[50,60]] 

for i in range(len(a)): 

    for j in range(len(a[i])): 

        print(a[i][j],end=',') 

print()

10,20,30,40,50,60,

# **코드 작성하기**

In [16]:
# 1

a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range(0,5):
  a1.append(i)
for i in range(0,6):
  a2.append(i)
for i in range(0,7):
  a3.append(i)
for i in range(0,8):
  a4.append(i)
for i in range(0,9):
  a5.append(i)

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [0, 1, 2, 3, 4]
a2 = [0, 1, 2, 3, 4, 5]
a3 = [0, 1, 2, 3, 4, 5, 6]
a4 = [0, 1, 2, 3, 4, 5, 6, 7]
a5 = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
# 2


a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range(0,5):
  if i%2 == 0 :
    a1.append(i)
for i in range(0,6):
  if i%3 ==0 :
    a2.append(i)
for i in range(0,7):
  if i%4 == 0 :
    a3.append(i)
for i in range(0,8):
  if i % 5 == 0:
    a4.append(i)
for i in range(0,9):
  if i % 6 == 0:
    a5.append(i)



print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [0, 2, 4]
a2 = [0, 3]
a3 = [0, 4]
a4 = [0, 5]
a5 = [0, 6]

In [22]:
# 3

a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range(0,5):
  if i%2 == 0 and i !=0:
    a1.append(i+1)
for i in range(0,6):
  if i%3 ==0 and i !=0:
    a2.append(i+1)
for i in range(0,7):
  if i%4 == 0 and i !=0:
    a3.append(i+1)
for i in range(0,8):
  if i % 5 == 0 and i !=0:
    a4.append(i+1)
for i in range(0,9):
  if i % 6 == 0 and i !=0:
    a5.append(i+1)

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [3, 5]
a2 = [4]
a3 = [5]
a4 = [6]
a5 = [7]

In [23]:
# 4

a1 = [[]] ; a2  = [[0],[1]]; a3 =[[0,1],[1,2,]]; a4=[[0,1],[1,2],[1,3]]; a5 = [[0,1],[1,2],[1,3],[1,4]]

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [[]]
a2 = [[0], [1]]
a3 = [[0, 1], [1, 2]]
a4 = [[0, 1], [1, 2], [1, 3]]
a5 = [[0, 1], [1, 2], [1, 3], [1, 4]]

In [29]:
# 5

a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range (0,3):
  a1.append([])
  for j in range(0,4):
    a1[i].append(j)

for i in range (0,4):
  a2.append([])
  for j in range(0,5):
    a2[i].append(j)  

for i in range (0,5):
  a3.append([])
  for j in range(0,6):
    a3[i].append(j)

for i in range (0,7):
  a4.append([])
  for j in range(0,7):
    a4[i].append(j)

for i in range (0,8):
  a5.append([])
  for j in range(0,10):
    a5[i].append(j)

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
a2 = [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
a3 = [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]
a4 = [[0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6]]
a5 = [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [30]:
# 6

a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range(0,5):
  a1.append(i)
for i in range(0,6):
  a2.append(i)
for i in range(0,7):
  a3.append(i)
for i in range(0,8):
  a4.append(i)
for i in range(0,9):
  a5.append(i)

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [0, 1, 2, 3, 4]
a2 = [0, 1, 2, 3, 4, 5]
a3 = [0, 1, 2, 3, 4, 5, 6]
a4 = [0, 1, 2, 3, 4, 5, 6, 7]
a5 = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
# 7


a1 = [] ; a2  = []; a3 =[]; a4=[]; a5 = []

for i in range (0,3):
  a1.append([])
  for j in range(0,4):
    a1[i].append(j)

for i in range (0,4):
  a2.append([])
  for j in range(0,5):
    a2[i].append(j)  

for i in range (0,5):
  a3.append([])
  for j in range(0,6):
    a3[i].append(j)

for i in range (0,7):
  a4.append([])
  for j in range(0,4):
    a4[i].append(j)

for i in range (0,5):
  a5.append([])
  for j in range(0,6):
    a5[i].append(j)

print("a1 = {0}".format(a1))
print("a2 = {0}".format(a2))
print("a3 = {0}".format(a3))
print("a4 = {0}".format(a4))
print("a5 = {0}".format(a5))

a1 = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
a2 = [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
a3 = [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]
a4 = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
a5 = [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]

In [35]:
# 8

a1=[]

for i in range(6):
  a1.append(i)
  print("a1[{0}] = {1}".format(i,a1[i]))

a1[0] = 0
a1[1] = 1
a1[2] = 2
a1[3] = 3
a1[4] = 4
a1[5] = 5

In [38]:
# 9
count = 0
a1 = []
while count < 6:
  a1.append(count)
  print("a1[{0}] = {1}".format(count,a1[count]))
  count+=1

a1[0] = 0
a1[1] = 1
a1[2] = 2
a1[3] = 3
a1[4] = 4
a1[5] = 5

In [52]:
# 10 

a = [12,13,14,16,86,23]
for i in range(0,len(a)):
  print("a[{0}] = {1}".format(i,a[i]))

print("")

for j,k in enumerate(a):
  print("a[{0}] = {1}".format(j,k))

a[0] = 12
a[1] = 13
a[2] = 14
a[3] = 16
a[4] = 86
a[5] = 23

a[0] = 12
a[1] = 13
a[2] = 14
a[3] = 16
a[4] = 86
a[5] = 23

In [56]:
# 11)1

a = [[0,1],[1,2,3],[4,5,6],[7,8,9],[11,12,13]]

for i in range(len(a[0])):
  print("a[0][{0}] = {1}".format(i,a[0][i]))

print("")
  
for i in range(len(a[1])):
  print("a[1][{0}] = {1}".format(i,a[1][i]))

  
print("")

for i in range(len(a[0])):
  print("a[2][{0}] = {1}".format(i,a[2][i]))


print("")

for i in range(len(a[0])):
  print("a[3][{0}] = {1}".format(i,a[3][i]))

print("")

for i in range(len(a[0])):
  print("a[4][{0}] = {1}".format(i,a[4][i]))

a[0][0] = 0
a[0][1] = 1

a[1][0] = 1
a[1][1] = 2
a[1][2] = 3

a[2][0] = 4
a[2][1] = 5

a[3][0] = 7
a[3][1] = 8

a[4][0] = 11
a[4][1] = 12

In [59]:
#11 )2

a1 = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
a2 = [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
a3 = [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]
a4 = [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
a5 = [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]


for i in range (len(a1)):
  for j in range(len(a1[i])):
    print("a1[{0}][{1}] = {2}".format(i,j,a1[i][j]))

print("")

for i in range (len(a2)):
  for j in range(len(a2[i])):
    print("a2[{0}][{1}] = {2}".format(i,j,a2[i][j]))

print("")

for i in range (len(a3)):
  for j in range(len(a3[i])):
    print("a3[{0}][{1}] = {2}".format(i,j,a3[i][j]))

print("")

for i in range (len(a4)):
  for j in range(len(a4[i])):
    print("a4[{0}][{1}] = {2}".format(i,j,a4[i][j]))

print("")

for i in range (len(a5)):
  for j in range(len(a5[i])):
    print("a5[{0}][{1}] = {2}".format(i,j,a5[i][j]))

print("")

a1[0][0] = 0
a1[0][1] = 1
a1[0][2] = 2
a1[0][3] = 3
a1[1][0] = 0
a1[1][1] = 1
a1[1][2] = 2
a1[1][3] = 3
a1[2][0] = 0
a1[2][1] = 1
a1[2][2] = 2
a1[2][3] = 3

a2[0][0] = 0
a2[0][1] = 1
a2[0][2] = 2
a2[0][3] = 3
a2[0][4] = 4
a2[1][0] = 0
a2[1][1] = 1
a2[1][2] = 2
a2[1][3] = 3
a2[1][4] = 4
a2[2][0] = 0
a2[2][1] = 1
a2[2][2] = 2
a2[2][3] = 3
a2[2][4] = 4
a2[3][0] = 0
a2[3][1] = 1
a2[3][2] = 2
a2[3][3] = 3
a2[3][4] = 4

a3[0][0] = 0
a3[0][1] = 1
a3[0][2] = 2
a3[0][3] = 3
a3[0][4] = 4
a3[0][5] = 5
a3[1][0] = 0
a3[1][1] = 1
a3[1][2] = 2
a3[1][3] = 3
a3[1][4] = 4
a3[1][5] = 5
a3[2][0] = 0
a3[2][1] = 1
a3[2][2] = 2
a3[2][3] = 3
a3[2][4] = 4
a3[2][5] = 5
a3[3][0] = 0
a3[3][1] = 1
a3[3][2] = 2
a3[3][3] = 3
a3[3][4] = 4
a3[3][5] = 5
a3[4][0] = 0
a3[4][1] = 1
a3[4][2] = 2
a3[4][3] = 3
a3[4][4] = 4
a3[4][5] = 5

a4[0][0] = 0
a4[0][1] = 1
a4[0][2] = 2
a4[0][3] = 3
a4[1][0] = 0
a4[1][1] = 1
a4[1][2] = 2
a4[1][3] = 3
a4[2][0] = 0
a4[2][1] = 1
a4[2][2] = 2
a4[2][3] = 3
a4[3][0] = 0
a4[3][1] = 1
a4[3][2] = 2
a4[3][3] = 3
a4[4][0] = 0
a4[4][1] = 1
a4[4][2] = 2
a4[4][3] = 3
a4[5][0] = 0
a4[5][1] = 1
a4[5][2] = 2
a4[5][3] = 3
a4[6][0] = 0
a4[6][1] = 1
a4[6][2] = 2
a4[6][3] = 3

a5[0][0] = 0
a5[0][1] = 1
a5[0][2] = 2
a5[0][3] = 3
a5[0][4] = 4
a5[0][5] = 5
a5[1][0] = 0
a5[1][1] = 1
a5[1][2] = 2
a5[1][3] = 3
a5[1][4] = 4
a5[1][5] = 5
a5[2][0] = 0
a5[2][1] = 1
a5[2][2] = 2
a5[2][3] = 3
a5[2][4] = 4
a5[2][5] = 5
a5[3][0] = 0
a5[3][1] = 1
a5[3][2] = 2
a5[3][3] = 3
a5[3][4] = 4
a5[3][5] = 5
a5[4][0] = 0
a5[4][1] = 1
a5[4][2] = 2
a5[4][3] = 3
a5[4][4] = 4
a5[4][5] = 5

In [65]:
# 12 )1

a = [[0,1],[1,2,3],[4,5,6],[7,8,9],[11,12,13]]

count = 0
count1 =0
count2 =0
count3 =0
count4 =0
while count < len(a[0]):
  print("a[0][{0}] = {1}".format(count,a[0][count]))
  count+=1

print("")
while count1 < len(a[1]):
  print("a[1][{0}] = {1}".format(count,a[1][count1]))
  count1+=1

print("")

while count2< len(a[2]):
  print("a[2][{0}] = {1}".format(count,a[2][count2]))
  count2+=1

print("")

while count3 < len(a[3]):
  print("a[3][{0}] = {1}".format(count,a[3][count3]))
  count3+=1

print("")

while count4 < len(a[4]):
  print("a[4][{0}] = {1}".format(count,a[4][count4]))
  count4+=1

a[0][0] = 0
a[0][1] = 1

a[1][2] = 1
a[1][2] = 2
a[1][2] = 3

a[2][2] = 4
a[2][2] = 5
a[2][2] = 6

a[3][2] = 7
a[3][2] = 8
a[3][2] = 9

a[4][2] = 11
a[4][2] = 12
a[4][2] = 13

In [69]:
# 12 )2
a = [[0,1],[1,2,3],[4,5,6],[7,8,9],[11,12,13]]
count = 0

while count < len(a):
  count1 = 0
  while count1 < len(a[count]):
    print("a[{0}][{1}] = {2}".format(count,count1, a[count][count1]))
    count1+=1
  count+=1

a[0][0] = 0
a[0][1] = 1
a[1][0] = 1
a[1][1] = 2
a[1][2] = 3
a[2][0] = 4
a[2][1] = 5
a[2][2] = 6
a[3][0] = 7
a[3][1] = 8
a[3][2] = 9
a[4][0] = 11
a[4][1] = 12
a[4][2] = 13

In [81]:
#13

a = list(map(int,input("값을 입력하세요").split(",")))

print("합계 = {0}".format(sum(a)))

값을 입력하세요1,2,3,4,5
합계 = 15

In [86]:
#14

a = []
su = 0
for i in range(4):
  a.append(int(input("값을 입력하세요 : ")))
  su+=a[i]

print("합 = {0}".format(su))

값을 입력하세요 : 1
값을 입력하세요 : 2
값을 입력하세요 : 3
값을 입력하세요 : 4
합 = 10

In [97]:
# 15,16,17  한번에 풀겠습니다

count = int(input("몇개의 점수를 입력하시겠습니까? "))
a = []
sum = 0

for i in range(count):
  a.append(int(input("점수를 입력하세요 : ")))
  sum+=a[i]

mp = a[0]
np = a[0]

for i in range(1,len(a)):
  if mp < a[i]:
    mp = a[i]
  elif np > a[i]:
    np = a[i]
  
print("점수 합  = {0}".format(sum))
print("점수 평균  = {0}".format(sum/count))
print("가장 큰값  = {0}".format(mp))
print("가장 작은값  = {0}".format(np))

몇개의 점수를 입력하시겠습니까? 4
점수를 입력하세요 : 20
점수를 입력하세요 : 90
점수를 입력하세요 : 10
점수를 입력하세요 : 30
점수 합  = 150
점수 평균  = 37.5
가장 큰값  = 90
가장 작은값  = 10

In [5]:
# 18 ~ 19 

a = []
count = 0
st = int(input("총 학생의 수를 입력하세요 : "))

for i in range(st):
  a.append(int(input("점수를 입력하세요.")))
  

for i in range(len(a)):
  if sum(a)/len(a) <= a[i]:
    count+=1

print("평균은 {0}점이고, 평균보다 높은 학생은{1}명입니다.".format(sum(a)/len(a),count))
print("가장 좋은 점수는 {0}점이고 가장 낮은 점수는 {1}점 입니다.".format(max(a),min(a)))

총 학생의 수를 입력하세요 : 5
점수를 입력하세요.90
점수를 입력하세요.60
점수를 입력하세요.80
점수를 입력하세요.50
점수를 입력하세요.40
평균은 64.0점이고, 평균보다 높은 학생은2명입니다.
가장 좋은 점수는 90점이고 가장 낮은 점수는 40점 입니다.

In [17]:
a = []
sum = 0 
for i in range(4):
  a.append([])
  for j in range(sum, (sum+15)):
    if j%3 ==0:
      a[i].append(j)
    sum = j


for i in range(len(a)):
  for j in range(len(a[i])):
    print(a[i][j], end =" ")
  print("")

0 3 6 9 12
15 18 21 24 27
30 33 36 39 42
42 45 48 51 54