<a href="https://colab.research.google.com/github/rlfwo93/python_basic/blob/main/7week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
for i in range(1,10):
    print("2*{0} = {1}".format(i,i*2))

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

In [18]:
for i in range(1,21):
    if i%3==0:
        print("i = {0}".format(i))

i = 3
i = 6
i = 9
i = 12
i = 15
i = 18

In [19]:
for i in range(20):
    if i%4==0:
        continue
    else:
        print("i={0}".format(i))

i=1
i=2
i=3
i=5
i=6
i=7
i=9
i=10
i=11
i=13
i=14
i=15
i=17
i=18
i=19

In [20]:
for i in range(1,21):
    print("{0} + 5 = {1}".format(i,i+5),end =", ")

1 + 5 = 6, 2 + 5 = 7, 3 + 5 = 8, 4 + 5 = 9, 5 + 5 = 10, 6 + 5 = 11, 7 + 5 = 12, 8 + 5 = 13, 9 + 5 = 14, 10 + 5 = 15, 11 + 5 = 16, 12 + 5 = 17, 13 + 5 = 18, 14 + 5 = 19, 15 + 5 = 20, 16 + 5 = 21, 17 + 5 = 22, 18 + 5 = 23, 19 + 5 = 24, 20 + 5 = 25,

In [21]:
for i in range(1,74):
    if i%10 == 3:
        print("i = {0}".format(i))

i = 3
i = 13
i = 23
i = 33
i = 43
i = 53
i = 63
i = 73

In [25]:
a,b = map(int,(input("값을 2개 넣어라").split(",")))

for i in range(a,b):
    if i%10 == 5:
        print("i ={0}".format(i))

값을 2개 넣어라1,21
i =5
i =15

In [14]:
inp = int(input("값을 입력해라 : "))
n=1
for i in range(1,inp):
  n=i*n
  print(i,end="")
  if  i <inp-1:
    print("*",end="")
  else :
    print("={0}".format(n),end="")

값읍 입력해라 : 4
1*2*3=6

In [16]:
for i in range(1,25):
  if i%6 ==0:
    print("+",end="")
  else:
    print("-",end="")

-----+-----+-----+-----+

In [ ]:
a,b = map(int,input("1,2값을 입력해라 : ").split(","))

sel = input("합을 할겨 ? 곱을할겨 ? ")

for i in range(a,b):
  if sel == "+":