<a href="https://colab.research.google.com/github/rlfwo93/python_basic/blob/main/Untitled55.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=36
b= 6
print("a//b = {0}".format(a//b))
print("a%b = {0}".format(a%b))
print("a**b = {0}".format(a**b))

a//b = 6
a%b = 0
a**b = 2176782336

In [8]:
print(a <7 and b ==7)
print(a==5 or b == 7)
print(a!=3)

False
False
True

In [23]:
item = int(input("물건 값"))
mon1000 = int(input("1000원 넣어라 : "))
mon500 = int(input("500원 넣어라 : "))
mon100 = int(input("100원 넣어라 : "))
sum1 = ((mon1000*1000)+(mon500*500)+(mon100*100))- item
a1000 = sum1//1000
na= sum1%1000

a500 = na // 500
na1 = na %100

a100 = na1 //100
na2 = na1 %100

if sum1<0:
  print("돈 모지람")

else:
  
  print("잔돈은 = {0}원 입니다".format(sum1))
  print("천원은 {0}10장, 500원은 {1}개, 100원은{2}개  입니다.".format(a1000,a500,a100))

물건 값9000
1000원 넣어라 : 9
500원 넣어라 : 5
100원 넣어라 : 1
잔돈은 = 2600원 입니다
천원은 2장, 500원은 1개, 100원은0개  입니다.

In [ ]:
def ch_menu(menu):
  if menu ==1:
    to +=1500
  elif menu ==2:
    to += 3000
  elif menu ==3:
    to += 3500
  elif


while True :
  menu = int(input("""
  1.커피 1500원
  2.카페모카 3000원
  3.라떄 3500원
  4.치즈케익 4500원 이다."""))
  if menu<=4

In [39]:
to_sum =0
cof_sum=0
ra_sum=0
ch_sum=0

print("반갑습니다 커피숍입니다")
print("커피 1500원, 라뗴 3500원, 치즈케익 5000원 입니다")
cof = int(input("몇잔 주문하시겠습니까 ?"))
cof_sum = 1500*cof

ra = int(input("라때는몇개?"))
ra_sum = 3500*ra

ch = int(input("치즈케익은 몇개?"))
ch_sum = 5000*ch

to_sum = cof_sum + ra_sum + ch_sum

print("총가격은 {0}원입니다".format(to_sum))

a1000 = to_sum//1000
na= a1000%1000

a500 = na // 500
na = na %100

a100 = na //100
na = na %100

mon = int(input("돈을 넣어라"))
print("거스름돈은 {0}원 입니다".format(mon-to_sum))
print("천원은{0}장 500원은{1}개 100원{2}개 입니다.".format(a1000,a500,a100))

반갑습니다 커피숍입니다
커피 1500원, 라뗴 3500원, 치즈케익 5000원 입니다
몇잔 주문하시겠습니까 ?1
라때는몇개?1
치즈케익은 몇개?1
총가격은 10000원입니다
돈을 넣어라10500
거스름돈은 500원 입니다
천원은10장 500원은0개 100원0개 입니다.

In [29]:
to_sum

13512000

In [ ]:
_""